.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-rejoindre{
    background-image: url(/Images/team_640px\ image\ par\ Henning\ Westerkamp\ de\ Pixabay.png);
  }

.bg-club{
    background-image: url(/Images/girls_roller_640px\ Image\ par\ lauramba\ de\ Pixabay.png);
  }

.bg-entrainement{
  background-image: url(/Images/rollerderby_640px\ Image\ par\ lisa\ runnels\ de\ Pixabay.png);
}

.bg-matchMorues{
  background-image: url(/Images/girl_interview_640px\ Image\ par\ lauramba\ de\ Pixabay.png);
}

.bg-matchFerraille{
  background-image: url(/Images/girl_scream_640px\ Image\ par\ lauramba\ de\ Pixabay.png);
}

.bg-formationArbitre{
  background-image: url(/Images/girl_bench_640px\ Image\ par\ Brendy\ Pradana\ de\ Pixabay.png);
}

.bg-matchDouble{
  background-image: url(/Images/rollerskating_640px\ Image\ par\ Rudy\ and\ Peter\ Skitterians\ de\ Pixabay.png);
}



